@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(244, 241, 241);
}

header {
  display: flex;
  background: #e3ea0c8e;
  justify-content: space-evenly;
  align-items: center;
  z-index: 80;
  height: 6vw;
  width: 100%;
}

.nav-header-media {
  display: none;
}

.logo {  
  width: 30%;
}

.logo img{
  width: 30%;
}

.nav-header-main {
  width: 40%;
}

.nav-header-main ul {
  height: 1.7vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Rowdies', cursive;
  text-transform: uppercase;
  font-size: 1.35vw;
  font-weight: 900;
  color: darkblue;
}

.nav-header-main li {
  list-style: none;
}

.nav-header-main li:hover {
  font-weight: 900;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}

.nav-header-main a {
  list-style: none;
  text-decoration: none;
}

h1 {
  font-family: 'Rowdies', cursive;
  color: darkblue;
  font-size: 60px;
  text-align: center;
  padding: 30px;
  text-shadow: 1px 1px 2px black;
}

.main01{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.main01 p{
  font-size: 30px;
  max-width: 70%;
  text-align: justify;
}

figcaption {
  text-align: center;
  justify-content: left;
  font-family: 'Rowdies', cursive;
  font-weight: 900;
  width: 30%;
}

img {
  width: 100%;
  border-radius: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}